{% extends 'base.html.twig' %}

{% block title %}Hello CodePostalsController!{% endblock %}

{% block body %}

<div class="row p-4">
    {{ form_start(formCodePostal, {'attr' : {'class':'add-codePost-form'}}) }}
        {{ form_widget(formCodePostal) }}
        {# <div class="row">
            <div class="form-group"> #}
            <button type="submit" class="btn btn-sm btn-success">Enregistrer</button>
        {# </div>
        </div> #}
    {{ form_end(formCodePostal) }}
</div>

{% endblock %}
